In [3]:
import numpy as np 
import pandas as pd 

import os
for dirname, _, filenames in os.walk('input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

input\Sales_April_2019.csv
input\Sales_August_2019.csv
input\Sales_December_2019.csv
input\Sales_February_2019.csv
input\Sales_January_2019.csv
input\Sales_July_2019.csv
input\Sales_June_2019.csv
input\Sales_March_2019.csv
input\Sales_May_2019.csv
input\Sales_November_2019.csv
input\Sales_October_2019.csv
input\Sales_September_2019.csv

In [6]:
for i in os.listdir('input'):
    print(i)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [9]:
files = [file for file in os.listdir('input')] 
all_data = pd.DataFrame()

for file in files:
    data = pd.read_csv("input/" + file)
    all_data = pd.concat([all_data, data])
    
all_data.to_csv("all_data.csv", index=False)

In [10]:
sales_data = pd.read_csv('all_data.csv') 
sales_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [11]:
## In case it is needed later 
Original_file = sales_data.copy()

In [12]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

In [13]:
sales_data = sales_data.rename(mapper=str.strip, axis='columns') #strip in case there is one or more space,
sales_data = sales_data.rename(columns={'Quantity Ordered': 'Qty','Price Each':'Price'})

sales_data.head()

,Order ID,Product,Qty,Price,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [14]:
sales_data.tail()

,Order ID,Product,Qty,Price,Order Date,Purchase Address
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [15]:
sales_data.columns

Index(['Order ID', 'Product', 'Qty', 'Price', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [16]:
col_name = list(sales_data.columns)
col_name = [x.lower().strip() for x in col_name] 
sales_data.columns = col_name
sales_data.head()

,order id,product,qty,price,order date,purchase address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [17]:
sales_data.isnull().sum()

order id            545
product             545
qty                 545
price               545
order date          545
purchase address    545
dtype: int64

In [18]:
sales_data.duplicated().sum()

1162

In [19]:
#drop the null value rows
sales_data = sales_data.dropna(how='all')
sales_data.isnull().sum()

order id            0
product             0
qty                 0
price               0
order date          0
purchase address    0
dtype: int64

In [20]:
sales_data.duplicated().sum()

618

In [21]:
#have a look at the duplicated rows
sales_data[sales_data.duplicated()==True]

,order id,product,qty,price,order date,purchase address
31,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215"
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1302,177795,Apple Airpods Headphones,1,150,04/27/19 19:45,"740 14th St, Seattle, WA 98101"
1684,178158,USB-C Charging Cable,1,11.95,04/28/19 21:13,"197 Center St, San Francisco, CA 94016"
...,...,...,...,...,...,...
186563,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186738,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186782,259296,Apple Airpods Headphones,1,150,09/28/19 16:48,"894 6th St, Dallas, TX 75001"
186785,259297,Lightning Charging Cable,1,14.95,09/15/19 18:54,"138 Main St, Boston, MA 02215"

In [22]:
#drop the duplicated rows
clean = sales_data[~ sales_data.duplicated()]
clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185687 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order id          185687 non-null  object
 1   product           185687 non-null  object
 2   qty               185687 non-null  object
 3   price             185687 non-null  object
 4   order date        185687 non-null  object
 5   purchase address  185687 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [23]:
clean.head()

,order id,product,qty,price,order date,purchase address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [24]:
#check if there is non-numeric values
clean['qty'].unique()

array(['2', '1', '3', '5', 'Quantity Ordered', '4', '7', '6', '8', '9'],
      dtype=object)

In [25]:
#find out (the index) where are non-numeric values
non_n = clean[clean['qty'] == 'Quantity Ordered']
non_n.head()

,order id,product,qty,price,order date,purchase address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [26]:
#drop it
clean = clean.drop(index=211)

In [27]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185686 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order id          185686 non-null  object
 1   product           185686 non-null  object
 2   qty               185686 non-null  object
 3   price             185686 non-null  object
 4   order date        185686 non-null  object
 5   purchase address  185686 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [28]:
clean.dtypes

order id            object
product             object
qty                 object
price               object
order date          object
purchase address    object
dtype: object

In [29]:
clean['qty'].head()

0    2
2    1
3    1
4    1
5    1
Name: qty, dtype: object

In [30]:
#type trasfer 
clean['qty'] = clean['qty'].astype(float)
clean['price'] = clean['price'].astype(float)

ValueError: invalid literal for int() with base 10: 'Quantity Ordered'